* {
    margin:0;
    padding:0;
}

body {
    background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    color: white;
    margin: 1rem;
    padding-top: 6rem;
}

svg{
    background-color: rgb(189, 202, 190);
}

.dot {
    stroke: #000;
    opacity: 0.8;
  }